<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.modelpdf.mapper.DeptManagerMapper">
  <resultMap id="BaseResultMap" type="com.king.modelpdf.entity.DeptManager">
    <id column="emp_no" jdbcType="INTEGER" property="emp_no" />
    <id column="dept_no" jdbcType="CHAR" property="dept_no" />
    <result column="from_date" jdbcType="DATE" property="from_date" />
    <result column="to_date" jdbcType="DATE" property="to_date" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from dept_manager
    where emp_no = #{emp_no,jdbcType=INTEGER}
      and dept_no = #{dept_no,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.king.modelpdf.entity.DeptManager">
    insert into dept_manager (emp_no, dept_no, from_date, 
      to_date)
    values (#{emp_no,jdbcType=INTEGER}, #{dept_no,jdbcType=CHAR}, #{from_date,jdbcType=DATE}, 
      #{to_date,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.king.modelpdf.entity.DeptManager">
    update dept_manager
    set from_date = #{from_date,jdbcType=DATE},
      to_date = #{to_date,jdbcType=DATE}
    where emp_no = #{emp_no,jdbcType=INTEGER}
      and dept_no = #{dept_no,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select emp_no, dept_no, from_date, to_date
    from dept_manager
    where emp_no = #{emp_no,jdbcType=INTEGER}
      and dept_no = #{dept_no,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select emp_no, dept_no, from_date, to_date
    from dept_manager
  </select>
  <resultMap id="BaseResultMap" type="com.king.modelpdf.entity.DeptManager">
    <id column="emp_no" jdbcType="INTEGER" property="emp_no" />
    <id column="dept_no" jdbcType="CHAR" property="dept_no" />
    <result column="from_date" jdbcType="DATE" property="from_date" />
    <result column="to_date" jdbcType="DATE" property="to_date" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from dept_manager
    where emp_no = #{emp_no,jdbcType=INTEGER}
      and dept_no = #{dept_no,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.king.modelpdf.entity.DeptManager">
    insert into dept_manager (emp_no, dept_no, from_date, 
      to_date)
    values (#{emp_no,jdbcType=INTEGER}, #{dept_no,jdbcType=CHAR}, #{from_date,jdbcType=DATE}, 
      #{to_date,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.king.modelpdf.entity.DeptManager">
    update dept_manager
    set from_date = #{from_date,jdbcType=DATE},
      to_date = #{to_date,jdbcType=DATE}
    where emp_no = #{emp_no,jdbcType=INTEGER}
      and dept_no = #{dept_no,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select emp_no, dept_no, from_date, to_date
    from dept_manager
    where emp_no = #{emp_no,jdbcType=INTEGER}
      and dept_no = #{dept_no,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select emp_no, dept_no, from_date, to_date
    from dept_manager
  </select>
</mapper>